.custom-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.custom-gallery-item {
    width: 100%;
}

.card {
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-title {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;

}

.card-excerpt {
    margin-bottom: 0;
    font-size: 14px;
}